{% extends "layout.html" %}
{% block title %}
Sayt haqında
{% endblock title %}
{% block body %}
<h3>Sayt haqında</h3>

<div class="jumbotron text-center">
<p>Bu sayt Python proqramlaşdırma dilinin Django framework'u ilə yazılıb.</p>
<p>Saytın yaradılmasında əsas məqsəd backend developing bacarığlarının inkişaf etdirilməsidir </p>
<p>Əgər saytda hər hansı boşluq tapsanız əlaqə saxlamağınız xahiş olunur.</p>
<h5>Xüsusiyyətlər</h5> 
<p>Fayl yükləmə sistemi</p>
<p>Məlumatların verilənlər bazasına yazılması, silinməsi, yenilənməsi</p>
<p>İstifadəçi qeydiyyatı və verilənlər üzrə sistemə girişi</p>
<p>Admin panel</p>
<p>Superuserin admin paneldə istənilən məlumatı dəyişə bilməsi</p>
<h5>Ediləcək əlavələr</h5>
<p>Eyni istifadəçi adı ilə qeydiyyatda yaranan problemin aradan qaldırılması</p>
<p>Cookie'lərin əlavə edilməsi</p>
<p>Daxil edilən mail ünvanını doğrulama mesajı vasitəsilə təsdiqlənməsi</p>


</div>
<hr>
<h5>Əlaqə:</h5>
<small>Tel: +994707218001</small>
{% endblock body %}