{% extends "layout.html" %}

{% block title %}
Ana Səhifə
{% endblock title %}

{% block body %}
    <div class="jumbotron text-center">

        <h3>Xoş gəldiniz</h3>
        <h5>Səhifənin bütün qaynaq kodlarına <a style="text-decoration:none" target="_blank" href="https://disk.yandex.com/d/XeuML_xRDChnPw">buradan</a> baxa bilərsiz. </h5>
    </div>
<!--<div style="text-align:center;padding:1em 0;"> <h3><a style="text-decoration:none;" href="https://www.zeitverschiebung.net/en/country/az"><span style="color:gray;">Hazırda yerli vaxt</span><br />Azərbaycan</a></h3> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=medium&timezone=Asia%2FBaku" width="100%" height="115" frameborder="0" seamless></iframe> </div> -->

{% endblock body %}
